[submodule "lib/StandardCplusplus"]
	path = lib/StandardCplusplus
	url = https://github.com/maniacbug/StandardCplusplus
[submodule "lib/AFMotor"]
	path = lib/AFMotor
	url = https://github.com/adafruit/Adafruit-Motor-Shield-library
[submodule "lib/SFISL29125"]
	path = lib/SFISL29125
	url = https://github.com/ElectricCoffee/SparkFun_ISL29125_Breakout_PlatformIO_Library